Repository kkkaoru/chatbot: changes, and which lefthook commands are due for each by the changed paths.
All: biome, actionlint, yamllint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,jsonc,mjs,cjs}"
      run: bun biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    actionlint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}
    yamllint:
      glob: "*.{yml,yaml}"
      run: yamllint {staged_files}
commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

style: configure Biome with comprehensive linting and formatting rules
  biome.jsonc
Due: biome

build: add @types/node for Node.js type definitions
  bun.lock
  package.json
Due: biome

build(discord): add discord-api-types for Discord API type definitions
  bun.lock
  package.json
Due: biome

chore: add direnv configuration for automatic environment loading
  .envrc
Due: none

chore: add empty .env.example file for environment variable template
  .env.example
Due: none

chore: add Discord bot environment variables to .env.example template
  .env.example
  .rules/unit-test.ja.md
  .rules/unit-test.md
  CLAUDE.md
Due: none

chore: add .turbo and Claude local settings to .gitignore
  .gitignore
Due: none

style: enhance Biome configuration with test file overrides and console rules
  biome.jsonc
Due: biome

build: add Turborepo scripts and test dependencies for monorepo development
  package.json
Due: biome

ci: enhance Lefthook configuration with CI skip conditions and pre-push testing
  lefthook.yml
Due: yamllint

ci: improve GitHub Actions workflow with matrix strategy and comprehensive checks
  .github/workflows/ci.yml
Due: actionlint, yamllint

chore: update VSCode settings with test file nesting and improved formatting
  .vscode/extensions.json
  .vscode/settings.json
Due: biome

style: improve MCP configuration formatting and consistency
  .mcp.json
Due: biome

style: fix formatting in configuration files (Claude settings, commitlint, czrc)
  .claude/settings.json
  commitlint.config.js
  czrc.js
Due: biome

build: update bun.lock with new test and monorepo dependencies
  bun.lock
Due: none

docs: reorganize CLAUDE.md file operation rules and improve formatting
  CLAUDE.md
Due: none

build: add Turborepo configuration for monorepo task orchestration
  turbo.jsonc
Due: biome

test: add shared Vitest configuration with coverage thresholds and settings
  vitest.config.shared.ts
Due: biome

docs: add Japanese translation of CLAUDE.md for localization support
  CLAUDE.ja.md
Due: none

feat(discord): add Discord bot application
  apps/discord/package.json
  apps/discord/src/features/app/app.test.ts
  apps/discord/src/features/app/app.ts
  apps/discord/src/features/commands/echo.test.ts
  apps/discord/src/features/commands/echo.ts
  apps/discord/src/features/commands/hello.test.ts
  apps/discord/src/features/commands/hello.ts
  apps/discord/src/features/commands/ping.test.ts
  apps/discord/src/features/commands/ping.ts
  apps/discord/src/features/components/button.test.ts
  apps/discord/src/features/components/button.ts
  apps/discord/src/features/components/select.test.ts
  apps/discord/src/features/components/select.ts
  apps/discord/src/features/config/config.test.ts
  apps/discord/src/features/config/config.ts
  apps/discord/src/features/main/main.test.ts
  apps/discord/src/features/main/main.ts
  apps/discord/src/features/modals/feedback.test.ts
  apps/discord/src/features/modals/feedback.ts
  apps/discord/src/features/server/server.test.ts
  apps/discord/src/features/server/server.ts
  apps/discord/src/index.test.ts
  apps/discord/src/index.ts
  apps/discord/src/test-utils/command-helpers.test.ts
  apps/discord/src/test-utils/command-helpers.ts
  apps/discord/src/utils/command-helpers.test.ts
  apps/discord/src/utils/command-helpers.ts
  apps/discord/tsconfig.json
  apps/discord/vitest.config.ts
Due: biome

chore: add .serena/cache directory to .gitignore
  .gitignore
Due: none

chore: add a @launchdarkly/cloudflare-server-sdk
  bun.lock
  package.json
Due: biome

ci: update turborepo
  bun.lock
  package.json
Due: biome

fix(discord): resolve vitest config loading issue
  apps/discord/vitest.config.ts
Due: biome
